<footer th:fragment="footer" class="container footer">
  <div class="row">
    <div class="column gap-30">
      <div class="row sc-row">
        <h1 class="logo">Sound Connect</h1>
      </div>
      <span class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
        </span>
      </div>
    </div>
    <div class="column gap-20">
      <div class="row news-row">
        <div class="newsletter">
          <h1>Newsletter</h1>
          <p class="footer-desc">Sign up for our newsletter to stay informed about the latest music and events!</p>
          <p class="footer-desc">Unsubscribe at anytime</p>
          <label>
            <input class="newsletter-input" type="text" placeholder="Enter your email">
          </label>
        </div>
      </div>
      </div>
</footer>