<footer th:fragment="footer" class="container justify-space-between footer">
  <div class="row spacing justify-center">
    <div class="column justify-center gap-30">
      <div class="row sc-row">
        <h1 class="logo">Sound Connect</h1>
      </div>
      <div class="row">
        <span class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-github"></i>
        </span>
      </div>
    </div>
    <div class="column gap-20">
      <div class="row">
        <div>
          <h1>Newsletter</h1>
          <p class="footer-desc">Sign up for our newsletter to stay informed about the latest music and events</p>
          <p class="footer-desc">Unsubscribe at anytime</p>
        </div>
      </div>
      <div class="row">
        <div>
          <input class="newsletter-input" type="text" placeholder="Enter your email">
        </div>
      </div>
    </div>
  </div>
</footer>
