<head>
    <link rel="stylesheet" href="/static/css/resets.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<nav th:fragment="navbar">
    <div class="container grow navbar">
        <div class="row nav-row">
            <div class="column shrink nav-col">
                <a class="nav-link" th:href=""><p>Home</p></a>
                <a class="nav-link" th:href=""><p>Profile</p></a>
                <a class="nav-link" th:href=""><p>Create Post</p></a>
                <form th:method="post" th:action="@{/logout}">
                    <input type="text" placeholder="Search" class="search_input">
                </form>
            </div>
            <div class="column login-col shrink">
                <a class="nav-link" th:href=""><p>Login</p></a>
                <a class="nav-link" th:href=""><p>Sign Up</p></a>
            </div>
        </div>
    </div>
</nav>