<nav th:fragment="navbar">
  <div class="container grow nav-container">
    <div class="row nav-row">
      <div class="column gap-15 nav-col shrink">
        <a href="/"><h1 class="logo">Sound Connect</h1></a>
        <div><a class="underline" href="/about" title="About">About</a></div>
        <div><a class="underline" href="/contact" title="contact">Contact</a></div>
        <div><a class="underline" href="/explore" title="explore">Explore</a></div>
      </div>
      <div class="column shrink login-col">
        <a href="/login" class="login-button">Login</a>
        <a href="/register" class="sign-up-button">Sign Up</a>
      </div>
    </div>
  </div>

</nav>