@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary:#060429;
    --secondary:#f5f5f5;
    --tertiary: #1304d2;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Roboto, sans-serif;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}

/*****************************Contact Page ********************************/

.title {
    display: flex;
    justify-content: center;
}

/*****************************Landing Page********************************/
.hero-scene{
    position: relative;
}

.overlay-text1{
    position: absolute;
    top: 230px;
    left: 229px;
    font-size: 35px;
}

.overlay-text2{
    position: absolute;
    top: 325px;
    left: 448px;
    font-size: 35px;
}
.overlay-text3{
    position: absolute;
    top: 230px;
    left: 364px;
    font-size: 45px;
}
.service-card-wrapper{
    height: 321px;
    width: 317px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--secondary);
    border: 1px solid var(--secondary);
    background-color: #202033;
}
.service-card{
    height: 100%;
    width: 100%;
}
.service-card-icon{
    height: 100px;
    width: 100px;
    margin:7px auto -75px auto;
    padding-top: 20px;
}
.button{
    width: 100px;
}
.card-title{
    font-size: 35px;
}
.row.card-body{
    height: 400px;
}

.login-button, .sign-up-button{
    background-color: var(--secondary);
    color: var(--primary);
    width: 85px;
    border: unset;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
    text-align: center;
    transition: ease-in-out .3s;
}
.login-button:hover, .sign-up-button:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
}


/*****************************End Landing Page********************************/

/*****************************Explore Page********************************/
.account-info-wrapper{
    height: 400px;
}
.music-wrapper{
    height: 1000px;
}
.friends-playlist-wrapper{
    height: 1000px;
}
.explore-search{
    height: 50px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: unset;
    padding: 0 10px;
    color: var(--secondary);
    caret-color: var(--secondary);
}
.playlist-row, .artist-row, .album-row{
    height: 150px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--secondary);
    border: 1px solid var(--secondary);
    background-color: #a8a8a8;
    margin-bottom: 20px;
}
.playlist-image{
    height: 100%;
    width: 180px;
    border-radius: 10px;
}
.playlist-info{
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.explore-playlist{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.artist-image{
    height: 100%;
    width: 180px;
    object-fit: cover;
}
.artist-name{
    height: 100%;
    width: 210px;
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;
}
.artist-info{
    height: 100%;
    padding: 10px;
}
.album-image{
    height: 100%;
    width: 180px;
}
.explore-row-bg{
    background-color: #070646;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--secondary);
    padding: 10px;
}
.overlayContainer {
    position: fixed;
    display: none;
    top: 0;
    right: -100%;
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition: right 0.3s ease-in-out;
}

.overlayContent {
    position: absolute;
    top: 60px;
    left: 175px;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
}

.overlayContainer.open {
    display: block;
    right: 0;
}

.openOverlayButton {
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--primary);
    width: 200px;
}

.openOverlayButton:hover {
    background-color: #a8a8a8;
    color: var(--primary);
    cursor: pointer;
}

.search-tracks{
   position: absolute;
    top: 120px;
    left: 0;
}
.search-artists{
    position: absolute;
    top: 490px;
    left: 0;
}
.search-albums{
    position: absolute;
    top: 850px;
    left: 0;
}
.closeOverlayButton{
    width: 100px;
    border-radius: 10px;
    background-color: #c9c9c9;
    color: var(--primary);
    cursor: pointer;
}
/*****************************End Explore Page********************************/

/*****************************Register Page********************************/
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.register-form{
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.username_input, .password_input, .email_input, .confirm_password_input{
    height: 40px;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: unset;
    padding: 0 10px;
    color: var(--secondary);

}
/*Title: Upoad Image;*/
.profile-img {
    display: flex;
    justify-content: center;
}
.image-add-profile-picture{
    height: 40px;
    width: 70%;
    display: block;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: unset;
    padding: 0 10px;
    color: var(--secondary);
    margin: 15px auto;
    transition: ease-in-out .3s;
    text-align: center;
    cursor: pointer;
}
.register_label{
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary);
    outline: unset;
    padding: 0 10px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
}
.register-button{
    background-color: var(--secondary);
    color: var(--primary);
    width: 85px;
    border: unset;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
    transition: ease-in-out .3s;
    text-align: center;
    cursor: pointer;
}
.register-button:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.register-submit{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.register-submit .register-button{
    width: 200px;
}
/*****************************End Register Page********************************/
/*****************************About Page********************************/
.about-paragraph{
    font-size: 20px;
    font-weight: bold;
}
/*****************************End About Page********************************/
:root{
    --primary:#060429;
    --secondary:#f5f5f5;
    --tertiary:#10068C;
}

a {
    color: inherit;
    text-decoration: none;
}

/*
======Styles For Playlist Creation Page======
*/

.playlist-details-box, .playlist-song-box {
    padding: 20px 10px;
}
.playlist-pic-box {
    width: 20rem;
}
.playlist-pic-wrapper {
    border: 1px solid rgba(245, 245, 245, .5);
    border-radius: 10px;
    height: 20rem;
}
.playlist-pic-wrapper:focus {
    border: 1px solid rgba(245, 245, 245, 1);
}
.playlist-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.playlist-title-box {
    flex: 1 0 auto;
    width: 20rem;
}
input.playlist-title {
    border: 1px solid rgba(245, 245, 245, .5);
    border-radius: 10px;
    background-color: transparent;
    color: var(--secondary);
    font-size: 25px;
    padding: 4px 8px;
    height: 100%;
    width: 100%;
}
input.playlist-title:focus {
    border: 1px solid rgba(245, 245, 245, 1);
}
.playlist-description-box {
    flex: 6 0 auto;
    width: 20rem;
}
.playlist-description {
    border: 1px solid rgba(245, 245, 245, .5);
    border-radius: 10px;
    background-color: transparent;
    color: var(--secondary);
    font-size: 16px;
    padding: 4px 8px;
    height: 100%;
    width: 100%;
    outline: none;
}
.playlist-description::placeholder {
    font-size: 25px;
}
.playlist-description:focus {
    border: 1px solid rgba(245, 245, 245, 1);
}
.playlist-description:focus::placeholder, input.playlist-title:focus::placeholder {
    color: var(--primary);
}
.playlist-song-box {
    flex: 2 0 auto;
    overflow-y: scroll;
}
.song-card {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 4px 8px;
    height: 60px;
}
.song-pic-wrapper {
    height: 3rem;
    width: 3rem;
}
.song-pic {
    object-fit: cover;
}
.song-title {
    flex-grow: 4;
}
.song-album-name {
    flex-grow: 3;
}
.song-duration {
    flex-grow: 2;
}
.song-name {
    font-size: 16px;
}
.song-artist {
    opacity: 75%;
    font-size: 12px;
}
.add-song-btn {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    transition: ease-in-out .3s;
    cursor: pointer;
}
.add-song-btn span {
    display: none;
}
.create-page-search, .edit-page-search {
    height: 40px;
    width: 300px;
    color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: unset;
    padding: 4px 8px;
}
.create-page-search::placeholder, .edit-page-search::placeholder {
    color: rgba(6, 4, 41, .5);
}
.results-box {
    border: 1px solid var(--secondary);
    border-radius: 10px;
}
form.create-form {
    border: none;
    padding: 0;
}
.create-playlist-btn, .edit-playlist-btn{
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition: ease-in-out .3s;
}
.create-playlist-btn:hover, .edit-playlist-btn:hover {
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
}
.create-top-box {
    border-radius: 10px;
    border-bottom: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
    padding: 10px;
}
.song-box-header {
    border-bottom: 1px solid rgba(245, 245, 245, .5);
    color: rgba(245, 245, 245, .5);
}
.search-results-container, .search-results-box{
    width: 1100px;
    align-self: center;
    max-height: 20rem;
}
.create-top-container {
    margin-top: 2rem;
}
.search-results-box {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-results-container .song-box-header {
    display: none ;
}
/*====== Profile Page Styles======*/
.sidebar-fixed {
    background-color: rgba(19, 4, 210, 0.3);
    width: 215px;
    height: 250px;
    position: fixed;
    border-radius: 40px;
    left: 22px;
    top: 100px;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
.list-spacing li {
    margin-bottom: 20px;
}
.profile {
    padding: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-info img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.container-profile{
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-playlists .column .row h1 {
    color: white;
    margin: 20px 0;
}

.profile-playlists, .profile-category, .profile-albums {
    display: flex;
    padding: 10px;
    gap: 30px;
}

.profile-playlists .playlist, .profile-category .category, .profile-albums .album {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    max-width: 50%;
}

/********** Messages **********/
.message-container.show{
    display: block;
}

.message-container {
    position: fixed;
    display: none;
    bottom: 0;
    right: 20px;
    width: 1000px;
    height: 450px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.message-content {
    padding: 10px;
}

.chat-messages {
    height: 300px;
    width: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.message-feed{
    height: 300px;
    padding: 15px;
    width: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.message-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

.message-title {
    color: var(--primary);
}
.message-recipients{
    gap: 10px;
    margin-left: 20px;
    color: var(--primary);
}
.chat{
    color: var(--primary);
    cursor: pointer;
    height: 50px;
}
.chat-row:hover{
    background-color: var(--primary);
}
.chat:hover{
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
}
.chat.selected {
    color: var(--secondary);
    background-color: var(--primary);
}
.message {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}
.sender{
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 5px;
}

/********** End Messages **********/

/********** Feed **********/
.feed-playlist {
    margin-top: 5rem;
    background-color: #9e9e9e;
    border-radius: 10px;
    height: 30rem;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.playlist-details {
    padding: 1rem;
    background-color: #6e6e6e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    flex: 1 0 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.playlist-tracks {
    flex: 3 0 0;
}
.playlist-img-wrapper {
    width: 16vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 10px;
}
.playlist-img {
    width: 8vw;
    height: 11vh;
    object-fit: cover;
    border-radius: 10px;
}

.large-playlist-images{
    display: flex;
    flex-wrap: wrap;
}

.image1{
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

.image2{
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: unset;
}

.image3{
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.image4 {
    border-bottom-left-radius: unset;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.desc-row {
    height: fit-content;
    max-height: 4rem;
    overflow: hidden;
}
.playlist-col {
    overflow: scroll;
    border-radius: inherit;
}

/*
======Forms Styles For Login Page======*/

.login-page-row{
    flex-direction: column;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.login-form > * {
    width: 70%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width:100%;
}
.input-wrapper[split="1/2"] {
    width: calc(50% - 5px);
}


.text-input{
    background-color: #f5f5f5;
    outline: unset;
    border: unset;
    display: flex;
    flex-direction: column;
    min-height: 30px;
    border-radius: 3px;
    color: black;
    font-family: inherit;
    padding:10px;
}

.text-area {
    color: #f5f5f5;
}

label {
    font-size: 25px;
    font-weight: bold;
    color: #060429;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.btn.primary {
    background-color: #060429;
    min-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
    color: #f5f5f5;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: unset;
    border: #1304d2 1px solid;
}

.login-submit{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* This should be the container having the hero image */
.login-page-col {
    position: relative;  /* Makes it a positioning context */
}

.background {
    z-index: -1;
    position: absolute;
}

/* This positions the .join content over the hero image */
.join {
    display: flex;
    justify-content: center;
    top: 50px;  /* Adjust as needed */
    left: 250px;  /* Adjust as needed */
    color: #f5f5f5;  /* Set text color to white or any other color that contrasts with the image */
    font-size: 30px;
    z-index: 1;  /* Optional: To make sure it stays on top */
}

/* This positions the login form over the hero image */
.login-form {
    font-size:30px;
    position: initial;
    top: 300px;  /* Adjust as needed */
    left: 450px;  /* Adjust as needed */
    z-index: 1;  /* Optional: To make sure it stays on top */
}

/*======Items Below login page======*/

.account {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    font-size: 20px;
    color: #f5f5f5;
}
.reg-highlight {
    color: greenyellow;
    font-weight: bold;
    cursor: pointer;
}
.owner-box {
    position: absolute;
    top: -3.7rem;
}
.owner-box img, .owner-box h2 {
    cursor: pointer;
}
.owner-pfp {
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    overflow: hidden;
}
.owner-pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.playlist-tracks .playlist-song-box, .playlist-tracks .playlist-song-box {
    padding: 10px 0;
}
.playlist-tracks .song-box-header {
    max-height: 2rem;
    font-size: 1rem;
    display: none;
}
.playlist-tracks:hover .song-box-header{
    display: flex;
}


/*CSS for responsive NAVBAR*/
nav {
    width: 100%;
    max-width: 1100px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

nav .mainMenu {
    display: none;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 1.5rem;

}
nav .mainMenu li a:hover {
    color: #1304d2;
    text-decoration: none;
}
nav .openMenu {
    font-size: 2rem;
    margin:20px;
    display: none;
    cursor:pointer;
}
nav .mainMenu, .closeMenu, .icons i {
    font-size: 1rem;
    display: inline-flex;
    flex-direction: row;
    cursor: pointer;
}
nav .closeMenu {
    display: none;
}
.fa-facebook:hover{color: rgb(0, 110, 255);}
.fa-twitter:hover{color: rgb(86, 154,243);}
.fa-instagram:hover{color: rgb(255, 0, 191);}
.fa-github:hover{color: rgb(255, 123, 0);}

nav .logo {
    margin: 16px;
    font-size: 25px;
    cursor:pointer;
}

/*/------------------FOOTER STYLES-------------------------*!*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Optional: Align items vertically in the center */
    margin-bottom: 15px;
    padding: 20px; /* Optional: Add padding */
}

.footer-img-wrapper{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.footer-desc{
    font-weight: 100;
}
.row .justify-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 0;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1100px
}
.row .news-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.newsletter-input{
    display: inline-flex;
    flex-wrap: wrap;
    height: 40px;
    width: 300px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    outline: unset;
    padding: 0 10px;
    color: var(--secondary);
}

a{
    text-decoration: none;
    color: var(--secondary);
}

.footer-links:hover{
    color: blue;
}
.info{
    margin-top: 170px;
}
.info-title{
    font-size: 35px;
}
.info-desc{
    font-size: 20px;
    font-weight: 100;
    width: 500px;
}
/*MEDIA QUERIES FOR FOOTER */
@media (max-width: 800px) {
    .logo {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        align-items: start;
        color: #f5f5f5;
    }
    .footer{
        flex-direction: column;
        align-items: start;
    }
    .footer-desc{
        text-align: start;
    }
    .footer-links{
        margin: 10px 0;
    }
    .info{
        margin-top: 0;
    }
    .info-title{
        font-size: 25px;
    }
    .info-desc{
        font-size: 15px;
        width: 300px;
    }
    .newsletter-input{
        width: 200px;
    }
}


/*MEDIA QUERIES FOR NAVBAR */
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #060429;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #1304d2;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

/*MEDIA QUERIES FOR PROFILE PG*/
@media (max-width: 800px) {
    .profile-playlists .playlist, .profile-category .category, .profile-albums .album {
        max-width: 25%;
    }
    .profile-playlists, .profile-category, .profile-albums {
        display: block;
        flex-wrap: wrap;
        margin-right: 100px;
        padding: 10px;
        gap: 30px;
    }
    .sidebar-fixed {
        background-color: rgba(19, 4, 210, 0.3);
        width: 215px;
        height: 250px;
        position: absolute;
        border-radius: 40px;
        display: flex;
        left: 22px;
        top: 100px;
        padding: 20px;
        color: #f5f5f5;
    }

}
/*MEDIA QUERIES FOR LOGIN PG*/

@media (max-width: 800px) {
    .join {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        font-size: 15px;
        color:#f5f5f5;
    }
    .login-form {
        font-size:30px;
        /*position: absolute;*/
        top: 300px;  /* Adjust as needed */
        left: 60px;  /* Adjust as needed */
        z-index: 1;  /* Optional: To make sure it stays on top */
    }
}