@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;1,100&display=swap');
:root{
    --primary:#060429;
    --secondary:#f5f5f5;
    --tertiary:#10068C;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Anton, sans-serif;
}
.logo{
    background: linear-gradient(to right, var(--tertiary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav a{
    color: var(--secondary);
}
.hero-scene{
    position: relative;
}
.overlay-text1{
    position: absolute;
    top: 236px;
    left: 279px;
    font-size: 35px;
}
.overlay-text2{
    position: absolute;
    top: 325px;
    left: 493px;
    font-size: 35px;
}
.service-card-wrapper{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--secondary);
    border: 1px solid var(--secondary);
    background-color: var(--primary);
}
.service-card{
    height: 100%;
    width: 100%;
}
.service-card-icon{
    height: 100px;
    width: 100px;
    margin:7px auto 24px auto;
    padding-top: 20px;
}
.button{
    width: 100px;
}
.card-title{
    font-size: 35px;
}
.row.card-body{
    height: 400px;
}

.login-button, .sign-up-button{
    background-color: var(--secondary);
    color: var(--primary);
    width: 85px;
    border: unset;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
    transition: ease-in-out .3s;
}
.login-button:hover, .sign-up-button:hover{
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
}
.footer{
    margin-top: 150px;
}
.footer-img-wrapper{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}
/*****************************Landing Page********************************/

/*****************************End Landing Page********************************/