<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head(title='SoundConnect - About')">
<body>
  <div class="page-wrapper">
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container grow justify-center body">
      <div class="row justify-center">
        <div class="column shrink overlay-form">
          <h1 class="title">About SoundConnect</h1>
          <p class="about-paragraph">SoundConnect is a social media platform for music lovers. It is a place where you can share your favorite music with your friends and family. You can also discover new music and artists that you may have never heard of before. SoundConnect is a place where music, culture, and community come together.</p>
        </div>
      </div>
  </div>
    <div th:replace="partials/footer :: footer">
  </div>
</body>
</html>