<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head(title='SoundConnect - Create a Playlist')}"></head>
<body>
<div class="page-wrapper gap-25">
    <nav th:replace="~{partials/navbar :: navbar}"></nav>

    <!-- Search input -->
    <section class="container">
        <div class="row align-center no-padding">
            <h1>Find songs for your playlist</h1>
            <input class="create-page-search" type="text" name="search-input" placeholder="Search for a song...">
        </div>
    </section>

    <!-- Search results -->
    <section class="container">
<!--        <div class="row">-->
<!--            <div class="column shrink song-pic-wrapper">-->
<!--                <img src="" alt="Song Picture" class="song-pic" >-->
<!--            </div>-->
<!--            <div class="column song-title no-gap">-->
<!--                <p>Song Title (FEAT. features)</p>-->
<!--                <p class="song-artist">Artist Name</p>-->
<!--            </div>-->
<!--            <div class="column song-album-name">Album</div>-->
<!--            <button>Add</button>-->
<!--        </div>-->
    </section>

    <!-- Playlist / form card -->
    <section class="container justify-center grow">
        <div class="row grow no-padding no-gap playlist-box">
            <!-- Left Column: Playlist pic, title, desc -->
            <div class="column gap-10 playlist-details-box">
                <div class="row justify-center align-center playlist-pic-box">
                    <div class="playlist-pic-wrapper">
                        <img src="/images/default-playlist-logo.png" alt="Playlist Picture" class="playlist-pic">
                    </div>
                </div>
                <div class="row align-center justify-center text-center playlist-title-box">
                    <h2 class="playlist-title">Playlist Title</h2>
                </div>
                <div class="row playlist-description-box">
                    <p class="playlist-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta nobis recusandae totam voluptate. Corporis error molestias tempora. Enim impedit ipsum nesciunt quis ratione sit. Aliquid cumque dicta possimus provident!
                    </p>
                </div>
            </div>

            <!-- Line separating left and right column -->
            <div class="column playlist-separation-line"></div>

            <!-- Right Column: List of songs added to the playlist -->
            <div class="column playlist-song-box">
                <div class="row align-center song-card">
                    <div class="column shrink song-number">1</div>
                    <div class="column shrink song-pic-wrapper">
                        <img src="" alt="Song Picture" class="song-pic" >
                    </div>
                    <div class="column shrink song-title no-gap">
                        <p>Song Title (FEAT. features)</p>
                        <p class="song-artist">Artist Name</p>
                    </div>
                    <div class="column align-right song-album-name">Album</div>
                    <div class="column align-right song-duration">Song Duration</div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/createPlaylist.js" type="module"></script>
</body>
</html>