<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/head :: head(title='SoundConnect - Explore')}"></head>
<body>
<div class="page-wrapper explore-page-wrapper">
    <header th:replace="~{partials/navbar :: navbar}"></header>
    <img src="/images/login-background.jpg" alt="contact background" class="background">
    <div class="container justify-center align-center explore-page-title">
        <h1>Explore New Music</h1>
    </div>
    <div class="container">
        <div class="row explore-row-bg">
            <div class="column ">
                <div class="row explore-box-header justify-space-between">
                <div class="row justify-space-between mobile-tracks-row">
                    <h1>Recommended Tracks</h1>
                    <button class="openOverlayButton">Search Music</button>
                </div>
                <div class="row explore-playlist"></div>
                <div class="row explore-artist-row">
                    <h1>Recommended Artists</h1>
                </div>
                <div class=" row explore-artists"></div>
                <div class="row">
                    <h1>Recommended Albums</h1>
                </div>
                <div class="row explore-albums"></div>
            </div>
        </div>
            <div class="overlayContainer">
                    <div class="overlayContent">
                        <!-- Add your overlay content here -->
                        <div class="column align-center">
                            <input type="text" placeholder="Search.." class="explore-search">
                        </div>
                        <div class="row explore-search-results"></div>
                        <button class="closeOverlayButton">Close</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="explore-page-footer">
        <footer th:replace="partials/footer :: footer"></footer>
    </div>

</div>
</div>

<script type="module" src="/js/explore.js">
    (async () => {
        let playlist = await displayPlaylist();
        console.log(playlist)
    })();
</script>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            uri: 'spotify:episode:7makk4oTQel546B0PZlDM5'
        };
        const callback = (EmbedController) => {
        };
        IFrameAPI.createController(element, options, callback);
    };
    const openOverlayButton = document.querySelector('.openOverlayButton');
    const closeOverlayButton = document.querySelector('.closeOverlayButton');
    const overlayContainer = document.querySelector('.overlayContainer');

    openOverlayButton.addEventListener('click', () => {
        overlayContainer.classList.add('open');
    });

    closeOverlayButton.addEventListener('click', () => {
        overlayContainer.classList.remove('open');
    });

</script>
<script th:src="@{/js/hamburger-menu.js}"></script>
<script src="/js/mobile.js"></script>
</body>
</html>