<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/head :: head(title='SoundConnect - Post Feed')}"></head>
<body>
    <div class="page-wrapper">
        <nav th:replace="~{partials/navbar :: navbar}"></nav>

        <header class="container feed-header-container">
            <div class="row justify-center feed-header-row">
                <div class="column align-center feed-header-col">
                    <h1>View Posts</h1>
                </div>
            </div>
        </header>

        <div class="container grow feed-container justify-center">
            <div class="row feed-row justify-center">
                <div class="column feed-col">
                    <ul class="feed-ul">
                        <li class="feed-posts" th:each="playlist : ${playlists}">
                            <form th:action="${playlist.id} ? @{/feed} : @{/feed/{id}/edit(id=${playlist.id})}" th:method="post">
                                <h2 class="feed-post-header" th:text="${playlist.name}"></h2>
                                <p class="feed-post-body" th:text="${playlist.description}"></p>
                                <button type="submit" name="delete_playlist" th:value="${playlist.id}">DELETE</button>
                            </form>
                            <a class="submit-btn" th:href="@{/feed/{id}/edit(id=${playlist.id})}">EDIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script type="module" th:src="@{/js/main.js}"></script>
</body>
</html>