<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>SoundConnect</title>
</head>
<body>
<div class="page-wrapper">
    <div class="container justify-center">
        <div class="row justify-space-between align-center full-width nav-row">
            <div class="column shrink">
                <h1 class="logo">Sound Connect</h1>
            </div>
            <div class="column">
                <nav class="row justify-center">
                    <div class="column shrink"><a href="#" title="About">About</a></div>
                    <div class="column shrink"><a href="#" title="About">Contact</a></div>
                    <div class="column shrink"><a href="#" title="About">Explore</a></div>
                </nav>
            </div>
            <div class="column shrink">
                <div class="row">
                    <a href="login" class="login-button">Login</a>
                    <a href="register" class="sign-up-button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container hero-scene">
        <div class="row justify-center full-width">
            <img src="/images/hero-image.jpg" alt="hero image">
        </div>
        <div class="overlay-text1">
            <h1>Sound Connect: Where Music and</h1>
        </div>
        <div class="overlay-text2">
            <h1> Community Collide</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-space-between">
        <div class="column justify-center">
            <div class="service-card-wrapper">
                <div class="service-card-icon">
                    <img src="/images/create-icon.png" alt="create icon">
                </div>
                <div class="row card-body align-center">
                    <div class="column">
                        <div class="service-card">
                            <h1 class="card-title">Create</h1>
                        </div>
                        <div class="card-description">
                            <p>Create and customize your own playlists</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column justify-center">
            <div class="service-card-wrapper">
                <div class="service-card">
                    <div class="service-card-icon">
                        <img src="/images/connect-icon.png" alt="connect icon">
                    </div>
                    <div class="row card-body align-center">
                        <div class="column">
                            <div class="service-card">
                                <h1 class="card-title">Connect</h1>
                            </div>
                            <div class="card-description">
                                <p>Connect with friends & family</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column justify-center">
            <div class="service-card-wrapper">
                <div class="service-card">
                    <div class="service-card">
                        <div class="service-card-icon">
                            <img src="/images/share-icon.png" alt="connect icon">
                        </div>
                        <div class="row card-body align-center">
                            <div class="column">
                                <div class="service-card">
                                    <h1 class="card-title">Share</h1>
                                </div>
                                <div class="card-description">
                                    <p>Share playlists & events</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container footer">
    <div class="row justify-space-between">
        <div class="column gap-30">
            <div class="row">
                <h1 class="logo">Sound Connect</h1>
            </div>
            <div class="row">
                <div class="footer-img-wrapper">
                    <img src="/images/instagram-icon.png" alt="instagram icon">
                </div>
                <div class="footer-img-wrapper">
                    <img src="/images/twitter-icon.png" alt="instagram icon">
                </div>
            </div>
        </div>
        <div class="column justify-center">
            <div class="row">
                <div class="column">
                    <a class="footer-links" href="#">About</a>
                </div>
                <div class="column">
                    <a class="footer-links" href="#">Contact</a>
                </div>
            </div>
        </div>
        <div class="column gap-20">
            <div class="row">
                <div>
                    <h1>Newsletter</h1>
                    <p class="footer-desc">Sign up for our newsletter to stay informed about the latest music and events</p>
                    <p class="footer-desc">Unsubscribe at anytime</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <input class="newsletter-input" type="text" placeholder="Enter your email">
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>