<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{partials/head :: head(title='SoundConnect - Login')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <header th:replace="~{partials/navbar :: navbar}")></header>
    <div sec:authorize="!isAuthenticated()">
            <p>You are not logged in. Please log in to continue.</p>
        </div>

    <div class="container grow justify-center">
          <div class="row justify-center login-page-row">
              <div class="column login-page-col">
                  <img th:src="@{/images/concert.jpeg}" alt="login background" class="background">
                  <h1 class="join">Where music, culture, and community come together.</h1>
                  <br>

              </div>

              <div class="column login-page-col login-form">
                  <form th:action="@{/login}" method="post">
                      <label class="text-area" for="username">Username:</label>
                      <input class="text-input" type="text" id="username" name="username">
                      <label class="text-area" for="password">Password:</label>
                      <input class="text-input" type="password" id="password" name="password">
                      <div class="login-submit">
                          <button type="submit" class="button btn primary">Log In</button>
                      </div>
                  </form>
                  <div>
                      <p class="account">Don't have an account? <a href="/register" class="reg-highlight">Register here</a></p>
                  </div>
                  <div th:if="${param.error}">
                      <p>Invalid Username and Password.</p>
                  </div>
                  <div th:if="${param.logout}">
                      <p>You have been logged out.</p>
                  </div>
              </div>
          </div>
      </div>
      <footer th:replace="~{partials/footer :: footer}"></footer>
  </div>
<script th:src="@{/js/hamburger-menu.js}"></script>
</body>
</html>
