<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='SoundConnect - Login')"></head>
<body>
  <div class="page-wrapper">
      <header th:replace="~{partials/navbar :: navbar}"></header>
      <img src="../images/login-background.jpg" alt="login background" class="background">
      <div class="container grow justify-center">
          <div class="row justify-center login-page-row">
              <div class="column login-page-col">
                  <h1 class="join">Where music, culture, and community come together.</h1>
                  <br>
              </div>
              <div class="column login-page-col login-form">
                  <form action="/login" method="post">
                      <label class="text-area" for="username">Username:</label>
                      <input class="text-input" type="text" id="username" name="username">
                      <label class="text-area" for="password">Password:</label>
                      <input class="text-input" type="password" id="password" name="password">
                      <div class="login-submit">
                          <button type="submit" class="button btn primary">Log In</button>
                      </div>
                  </form>
                  <div>
                      <p class="account">Don't have an account? <a href="/register">Register here</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
