<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='SoundConnect - Profile')">
    <meta charset="UTF-8">
    <title>SoundConnect Profile</title>
</head>

<body>
<img src="/images/login-background.jpg" alt="login background" class="background">
<div class="page-wrapper profile">
    <header th:replace="partials/navbar :: navbar"></header>
    <div class="container-profile">
        <div class="sidebar-fixed">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/explore">Recommended Playlists</a></li>
                <li><a href="/playlists">Add Playlists</a></li>
                <li><a href="/create">Create Playlists</a></li>
                <li><a href="/editplaylist">Edit Playlists</a></li>
                <li><a href="/feed">View Posts</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        </div>
        <div class="content-section row">
            <div class="profile">
                <section class="profile-info profile-section">
                    <h2>User Name</h2>
                    <img src="user_profile_picture.png" alt="User Profile">
                </section>
                <div class="container-playlists">
                    <div class="column">
                        <div class="row ">
                            <h1>Featured Playlists</h1>
                        </div>
                        <div class="profile-playlists row">
                        </div>

                        <div class="row">
                            <h1>Category Playlists</h1>
                        </div>
                        <div class="profile-category row">
                        </div>

                        <div class="row">
                            <h1>Albums Playlists</h1>
                        </div>
                        <div class="profile-albums row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <footer th:replace="partials/footer :: footer"></footer>
</div>
<script type="module" src="/js/profile.js">
    (async () => {
        let playlist = await displayPlaylist();
        console.log(playlist)
    })();
</script>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            uri: 'spotify:episode:7makk4oTQel546B0PZlDM5'
        };
        const callback = (EmbedController) => {
        };
        IFrameAPI.createController(element, options, callback);
    };
</script>
</body>

</html>

