<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/head :: head(title='SoundConnect - Register')}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{partials/navbar :: navbar}"></div>
    <img src="/images/login-background.jpg" alt="login background" class="background">

    <div class="container grow gap-30 register-container">
        <div class="row justify-center">
            <div class="column align-center">
                <h1 class="titled">Create Your Account</h1>
                <p class="joined">Start your SoundConnect Journey Today!</p>
            </div>
        </div>
        <div class="row grow">
            <form class="column gap-30" th:method="post" th:action="@{/register}" th:object="${user}">
                <div class="column">
                    <label class="text-area" for="username">Username</label>
                    <input placeholder="Enter Username" type="text" id="username" name="username" th:field="*{username}" class="text-input">
                </div>
                <div class="column">
                    <label class="text-area" for="email">Email</label>
                    <input type="email" placeholder="Enter Email" id="email" name="email" th:field="*{email}" class="text-input">
                </div>
                <div class="column">
                    <label class="text-area" for="password">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" th:field="*{password}" class="text-input">
                </div>
                <div class="column">
                    <label class="text-area" for="confirmPassword">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" class="text-input">
                </div>
                <div class="column">
                    <label class="text-area">Profile Image</label>
                    <label for="open"></label>
                    <input class="image-add-profile-picture" type="text" placeholder="Here" value="Click to Upload Profile Image" th:type="button" id="open" th:name="image" >
                    <label for="image-url"></label><input id="image-url" th:name="image-url" hidden />
                </div>
                <div class="column align-center">
                    <button class="button btn primary" type="submit" value="Submit">Register</button>
                </div>
                <p class="account">Already have an account? <a href="/login" class="reg-highlight">Login here</a></p>
            </form>
        </div>
    </div>

    <footer th:replace="~{partials/footer :: footer}"></footer>
</div>

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="module" src="/js/filepicker.js"></script>
<script th:src="@{/js/hamburger-menu.js}"></script>
</body>
</html>