<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head(title='SoundConnect - Register')"></head>
<body>
  <div class="page-wrapper body">
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container grow justify-center">
      <div class="row justify-center">
        <div class="column shrink overlay-form">
          <h1 class="title">Create Your Account!</h1>
          <p class="join">Start your SoundConnect Journey Today!</p>
          <form class="register-form" th:method="post" th:action="@{/register}">
            <label class="register_label" for="username">Username:</label>
            <input placeholder="Enter Username" type="text" id="username" name="username"  class="username_input"><br>
            <label class="register_label" for="email">Email:</label>
            <input type="email" placeholder="Enter Email" id="email" name="email" class="email_input"><br>
            <label class="register_label" for="password">Password:</label>
            <input type="password" placeholder="Enter Password" name="password" id="password" class="password_input"><br>
            <label class="register_label" for="confirmPassword">Confirm Password:</label>
            <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" class="confirm_password_input"><br>
            <div class="register-submit">
              <button class="register-button" type="submit" value="Submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>